* {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 0.5rem;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
}

#header > h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
}

.unique {
  font-size: 40px;
  font-family: "Times New Roman";
  font-style: italic;
  color: #12164a;
}
.bold {
  font-size: 25px;
  font-family: "Times New Roman";
  color: rgb(14, 40, 157);
}

#header > p {
  text-transform: capitalize;
}


#authorWrapper {
  align-self: flex-start;
  margin-bottom: 1rem;
}

#titleWrapper {
  align-self: flex-start;
  margin-bottom: 1rem;
}

#markdownWrapper {
  width: 100%;
  display: grid;
  grid-template-rows: 10% 90%;
  min-height: 250px;
}


textarea {
  margin: auto;
  width: 100%;
  height: 100%;
  font-size: 15px;
  line-height: 1.6;
}

.html-label {
  align-self: flex-start;
  margin-top: 1rem;
}

#output {
  padding: 10px;
  width: 100%;
  min-height: 2rem;
  border: 1px solid #ccc;
  line-height: 1.6;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#footer > button {
  min-height: 3rem;
  min-width: 6rem;
  cursor: pointer;
  font-size: 20px;
}
